@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  font-size: 1.5rem;
}
input {
  border: none;
}
.container {
  height: 80vh;
  width: 50vh;
  background-color: black;
  border-radius: 18px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}
.screen {
  grid-column: 1 / -1;
  color: white;
  background-color: black;
  text-align: right;
  display: grid;
  align-items: center;
  padding: 0.5rem;
  font-size: 4rem;
  overflow: hidden;
  height: 8rem;
}
.btn {
  display: grid;
  place-content: center;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.304);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.btn:hover {
  background-color: gray;
}
.orange {
  background-color: rgb(255, 166, 0);
}
.orange:hover {
  background-color: rgb(139, 91, 1);
}
.light-gray {
  background-color: gray;
  color: black;
}
.light-gray:hover {
  background-color: white;
}

.equal {
  grid-column: 1 / span 2;
  border-radius: 25px;
}

@media screen and (max-width: 480px) {
  body {
    background-color: #fff;
  }
}
